	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/04/2016 14:47
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/flaticon.eot");
  src: url("../fonts/flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/flaticon.woff") format("woff"),
       url("../fonts/flaticon.ttf") format("truetype"),
       url("../fonts/flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("../fonts/flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
 	font-family: Flaticon;
	font-style: normal;
}

.flaticon-animals:before { content: "\f100"; }
.flaticon-app:before { content: "\f101"; }
.flaticon-arrow:before { content: "\f102"; }
.flaticon-arrow-1:before { content: "\f103"; }
.flaticon-arrows:before { content: "\f104"; }
.flaticon-arrows-1:before { content: "\f105"; }
.flaticon-arrows-10:before { content: "\f106"; }
.flaticon-arrows-11:before { content: "\f107"; }
.flaticon-arrows-12:before { content: "\f108"; }
.flaticon-arrows-13:before { content: "\f109"; }
.flaticon-arrows-14:before { content: "\f10a"; }
.flaticon-arrows-2:before { content: "\f10b"; }
.flaticon-arrows-3:before { content: "\f10c"; }
.flaticon-arrows-4:before { content: "\f10d"; }
.flaticon-arrows-5:before { content: "\f10e"; }
.flaticon-arrows-6:before { content: "\f10f"; }
.flaticon-arrows-7:before { content: "\f110"; }
.flaticon-arrows-8:before { content: "\f111"; }
.flaticon-arrows-9:before { content: "\f112"; }
.flaticon-building:before { content: "\f113"; }
.flaticon-buildings:before { content: "\f114"; }
.flaticon-buildings-1:before { content: "\f115"; }
.flaticon-buildings-2:before { content: "\f116"; }
.flaticon-business:before { content: "\f117"; }
.flaticon-business-1:before { content: "\f118"; }
.flaticon-business-2:before { content: "\f119"; }
.flaticon-business-3:before { content: "\f11a"; }
.flaticon-business-4:before { content: "\f11b"; }
.flaticon-business-5:before { content: "\f11c"; }
.flaticon-circle:before { content: "\f11d"; }
.flaticon-circle-1:before { content: "\f11e"; }
.flaticon-circle-2:before { content: "\f11f"; }
.flaticon-circle-3:before { content: "\f120"; }
.flaticon-circle-4:before { content: "\f121"; }
.flaticon-circle-5:before { content: "\f122"; }
.flaticon-circle-6:before { content: "\f123"; }
.flaticon-circle-7:before { content: "\f124"; }
.flaticon-circle-8:before { content: "\f125"; }
.flaticon-circle-9:before { content: "\f126"; }
.flaticon-clock:before { content: "\f127"; }
.flaticon-clock-1:before { content: "\f128"; }
.flaticon-clock-2:before { content: "\f129"; }
.flaticon-clock-3:before { content: "\f12a"; }
.flaticon-clock-4:before { content: "\f12b"; }
.flaticon-close:before { content: "\f12c"; }
.flaticon-close-1:before { content: "\f12d"; }
.flaticon-close-2:before { content: "\f12e"; }
.flaticon-close-3:before { content: "\f12f"; }
.flaticon-close-4:before { content: "\f130"; }
.flaticon-cogwheel:before { content: "\f131"; }
.flaticon-commerce:before { content: "\f132"; }
.flaticon-commerce-1:before { content: "\f133"; }
.flaticon-computer:before { content: "\f134"; }
.flaticon-computer-1:before { content: "\f135"; }
.flaticon-computer-2:before { content: "\f136"; }
.flaticon-cone:before { content: "\f137"; }
.flaticon-connection:before { content: "\f138"; }
.flaticon-cross:before { content: "\f139"; }
.flaticon-cross-1:before { content: "\f13a"; }
.flaticon-cross-2:before { content: "\f13b"; }
.flaticon-cross-3:before { content: "\f13c"; }
.flaticon-cup:before { content: "\f13d"; }
.flaticon-cup-1:before { content: "\f13e"; }
.flaticon-cup-2:before { content: "\f13f"; }
.flaticon-delete:before { content: "\f140"; }
.flaticon-delete-1:before { content: "\f141"; }
.flaticon-downloading:before { content: "\f142"; }
.flaticon-drink:before { content: "\f143"; }
.flaticon-drink-1:before { content: "\f144"; }
.flaticon-drink-2:before { content: "\f145"; }
.flaticon-editing:before { content: "\f146"; }
.flaticon-envelope:before { content: "\f147"; }
.flaticon-favorite:before { content: "\f148"; }
.flaticon-food:before { content: "\f149"; }
.flaticon-food-1:before { content: "\f14a"; }
.flaticon-food-2:before { content: "\f14b"; }
.flaticon-food-3:before { content: "\f14c"; }
.flaticon-gps:before { content: "\f14d"; }
.flaticon-gps-1:before { content: "\f14e"; }
.flaticon-graphic:before { content: "\f14f"; }
.flaticon-graphic-1:before { content: "\f150"; }
.flaticon-graphic-2:before { content: "\f151"; }
.flaticon-graphic-3:before { content: "\f152"; }
.flaticon-graphic-4:before { content: "\f153"; }
.flaticon-graphic-5:before { content: "\f154"; }
.flaticon-graphic-6:before { content: "\f155"; }
.flaticon-hand:before { content: "\f156"; }
.flaticon-hand-1:before { content: "\f157"; }
.flaticon-home:before { content: "\f158"; }
.flaticon-home-1:before { content: "\f159"; }
.flaticon-home-2:before { content: "\f15a"; }
.flaticon-interface:before { content: "\f15b"; }
.flaticon-interface-1:before { content: "\f15c"; }
.flaticon-interface-10:before { content: "\f15d"; }
.flaticon-interface-11:before { content: "\f15e"; }
.flaticon-interface-12:before { content: "\f15f"; }
.flaticon-interface-13:before { content: "\f160"; }
.flaticon-interface-14:before { content: "\f161"; }
.flaticon-interface-15:before { content: "\f162"; }
.flaticon-interface-16:before { content: "\f163"; }
.flaticon-interface-17:before { content: "\f164"; }
.flaticon-interface-18:before { content: "\f165"; }
.flaticon-interface-19:before { content: "\f166"; }
.flaticon-interface-2:before { content: "\f167"; }
.flaticon-interface-20:before { content: "\f168"; }
.flaticon-interface-21:before { content: "\f169"; }
.flaticon-interface-3:before { content: "\f16a"; }
.flaticon-interface-4:before { content: "\f16b"; }
.flaticon-interface-5:before { content: "\f16c"; }
.flaticon-interface-6:before { content: "\f16d"; }
.flaticon-interface-7:before { content: "\f16e"; }
.flaticon-interface-8:before { content: "\f16f"; }
.flaticon-interface-9:before { content: "\f170"; }
.flaticon-internet:before { content: "\f171"; }
.flaticon-letter:before { content: "\f172"; }
.flaticon-letter-1:before { content: "\f173"; }
.flaticon-line:before { content: "\f174"; }
.flaticon-line-1:before { content: "\f175"; }
.flaticon-line-2:before { content: "\f176"; }
.flaticon-line-3:before { content: "\f177"; }
.flaticon-line-4:before { content: "\f178"; }
.flaticon-line-5:before { content: "\f179"; }
.flaticon-line-6:before { content: "\f17a"; }
.flaticon-location:before { content: "\f17b"; }
.flaticon-location-1:before { content: "\f17c"; }
.flaticon-lock:before { content: "\f17d"; }
.flaticon-lock-1:before { content: "\f17e"; }
.flaticon-logo:before { content: "\f17f"; }
.flaticon-map:before { content: "\f180"; }
.flaticon-medical:before { content: "\f181"; }
.flaticon-medical-1:before { content: "\f182"; }
.flaticon-megaphone:before { content: "\f183"; }
.flaticon-microphone:before { content: "\f184"; }
.flaticon-microphone-1:before { content: "\f185"; }
.flaticon-microphone-2:before { content: "\f186"; }
.flaticon-monitor:before { content: "\f187"; }
.flaticon-monitor-1:before { content: "\f188"; }
.flaticon-multimedia:before { content: "\f189"; }
.flaticon-multimedia-1:before { content: "\f18a"; }
.flaticon-multimedia-2:before { content: "\f18b"; }
.flaticon-music:before { content: "\f18c"; }
.flaticon-nature:before { content: "\f18d"; }
.flaticon-networking:before { content: "\f18e"; }
.flaticon-note:before { content: "\f18f"; }
.flaticon-note-1:before { content: "\f190"; }
.flaticon-pause:before { content: "\f191"; }
.flaticon-people:before { content: "\f192"; }
.flaticon-people-1:before { content: "\f193"; }
.flaticon-people-2:before { content: "\f194"; }
.flaticon-phone:before { content: "\f195"; }
.flaticon-photo:before { content: "\f196"; }
.flaticon-pin:before { content: "\f197"; }
.flaticon-pin-1:before { content: "\f198"; }
.flaticon-school:before { content: "\f199"; }
.flaticon-science:before { content: "\f19a"; }
.flaticon-search:before { content: "\f19b"; }
.flaticon-security:before { content: "\f19c"; }
.flaticon-security-1:before { content: "\f19d"; }
.flaticon-security-2:before { content: "\f19e"; }
.flaticon-settings:before { content: "\f19f"; }
.flaticon-shape:before { content: "\f1a0"; }
.flaticon-shape-1:before { content: "\f1a1"; }
.flaticon-shape-2:before { content: "\f1a2"; }
.flaticon-shape-3:before { content: "\f1a3"; }
.flaticon-shapes:before { content: "\f1a4"; }
.flaticon-shapes-1:before { content: "\f1a5"; }
.flaticon-sheet:before { content: "\f1a6"; }
.flaticon-sign:before { content: "\f1a7"; }
.flaticon-signs:before { content: "\f1a8"; }
.flaticon-signs-1:before { content: "\f1a9"; }
.flaticon-signs-2:before { content: "\f1aa"; }
.flaticon-sky:before { content: "\f1ab"; }
.flaticon-sky-1:before { content: "\f1ac"; }
.flaticon-social:before { content: "\f1ad"; }
.flaticon-spin:before { content: "\f1ae"; }
.flaticon-squares:before { content: "\f1af"; }
.flaticon-suitcase:before { content: "\f1b0"; }
.flaticon-summer:before { content: "\f1b1"; }
.flaticon-symbol:before { content: "\f1b2"; }
.flaticon-symbol-1:before { content: "\f1b3"; }
.flaticon-symbols:before { content: "\f1b4"; }
.flaticon-target:before { content: "\f1b5"; }
.flaticon-technology:before { content: "\f1b6"; }
.flaticon-technology-1:before { content: "\f1b7"; }
.flaticon-technology-10:before { content: "\f1b8"; }
.flaticon-technology-11:before { content: "\f1b9"; }
.flaticon-technology-12:before { content: "\f1ba"; }
.flaticon-technology-13:before { content: "\f1bb"; }
.flaticon-technology-14:before { content: "\f1bc"; }
.flaticon-technology-15:before { content: "\f1bd"; }
.flaticon-technology-16:before { content: "\f1be"; }
.flaticon-technology-17:before { content: "\f1bf"; }
.flaticon-technology-18:before { content: "\f1c0"; }
.flaticon-technology-19:before { content: "\f1c1"; }
.flaticon-technology-2:before { content: "\f1c2"; }
.flaticon-technology-20:before { content: "\f1c3"; }
.flaticon-technology-21:before { content: "\f1c4"; }
.flaticon-technology-22:before { content: "\f1c5"; }
.flaticon-technology-23:before { content: "\f1c6"; }
.flaticon-technology-24:before { content: "\f1c7"; }
.flaticon-technology-25:before { content: "\f1c8"; }
.flaticon-technology-26:before { content: "\f1c9"; }
.flaticon-technology-27:before { content: "\f1ca"; }
.flaticon-technology-28:before { content: "\f1cb"; }
.flaticon-technology-29:before { content: "\f1cc"; }
.flaticon-technology-3:before { content: "\f1cd"; }
.flaticon-technology-30:before { content: "\f1ce"; }
.flaticon-technology-31:before { content: "\f1cf"; }
.flaticon-technology-32:before { content: "\f1d0"; }
.flaticon-technology-33:before { content: "\f1d1"; }
.flaticon-technology-34:before { content: "\f1d2"; }
.flaticon-technology-35:before { content: "\f1d3"; }
.flaticon-technology-36:before { content: "\f1d4"; }
.flaticon-technology-37:before { content: "\f1d5"; }
.flaticon-technology-4:before { content: "\f1d6"; }
.flaticon-technology-5:before { content: "\f1d7"; }
.flaticon-technology-6:before { content: "\f1d8"; }
.flaticon-technology-7:before { content: "\f1d9"; }
.flaticon-technology-8:before { content: "\f1da"; }
.flaticon-technology-9:before { content: "\f1db"; }
.flaticon-telephone:before { content: "\f1dc"; }
.flaticon-telephone-1:before { content: "\f1dd"; }
.flaticon-three:before { content: "\f1de"; }
.flaticon-three-1:before { content: "\f1df"; }
.flaticon-time:before { content: "\f1e0"; }
.flaticon-time-1:before { content: "\f1e1"; }
.flaticon-time-2:before { content: "\f1e2"; }
.flaticon-tool:before { content: "\f1e3"; }
.flaticon-tool-1:before { content: "\f1e4"; }
.flaticon-tool-10:before { content: "\f1e5"; }
.flaticon-tool-11:before { content: "\f1e6"; }
.flaticon-tool-12:before { content: "\f1e7"; }
.flaticon-tool-13:before { content: "\f1e8"; }
.flaticon-tool-14:before { content: "\f1e9"; }
.flaticon-tool-15:before { content: "\f1ea"; }
.flaticon-tool-2:before { content: "\f1eb"; }
.flaticon-tool-3:before { content: "\f1ec"; }
.flaticon-tool-4:before { content: "\f1ed"; }
.flaticon-tool-5:before { content: "\f1ee"; }
.flaticon-tool-6:before { content: "\f1ef"; }
.flaticon-tool-7:before { content: "\f1f0"; }
.flaticon-tool-8:before { content: "\f1f1"; }
.flaticon-tool-9:before { content: "\f1f2"; }
.flaticon-transport:before { content: "\f1f3"; }
.flaticon-transport-1:before { content: "\f1f4"; }
.flaticon-transport-2:before { content: "\f1f5"; }
.flaticon-video:before { content: "\f1f6"; }
.flaticon-video-1:before { content: "\f1f7"; }
.flaticon-weapon:before { content: "\f1f8"; }
.flaticon-weather:before { content: "\f1f9"; }
.flaticon-web:before { content: "\f1fa"; }
.flaticon-web-1:before { content: "\f1fb"; }
.flaticon-web-2:before { content: "\f1fc"; }
.flaticon-web-3:before { content: "\f1fd"; }
.flaticon-window:before { content: "\f1fe"; }
.flaticon-wrench:before { content: "\f1ff"; }